body {
  background: url("../images/FutureConservation.jpeg") no-repeat center
    center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.splash-container {
  text-align: center;
  color: #333;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  transition: opacity 1s ease-in-out;
}

.splash-title {
  font-size: 3em;
  margin-bottom: 20px;
}

.splash-mission {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.group-members {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #333;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
